<!doctype html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Administrador</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <style type="text/css">
        body{
		background-color: #242323;
    
	}
	.contact{
    padding: 10% 25%;
    float: none;
    margin: 0 auto;
	}

	.custom{
  margin-bottom:10px;
  }
	.col-md-9{
		background: rgb(180, 175, 164);
		padding: 2% 5%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
  h1 {
  color: #ebecd3;
  }
  div.b {
    width: 500px;
    height: 200px;
  }
  div.c {
    width: 480px;
    height: 24px;
  }
  div.d{
    width: 480px;
    height: 48px;
  }
  div.e{
    width: 480px;
    height: 12px;
  }
	
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container contact">
    <p class="navbar-text"><h1>Controle de Administrador</h1></p>
    <div class="col-md-9">
      
        <div class="row">
          <div class="col-md-2">
            <a href="#" class="btn btn-dark custom" role="button" data-toggle="modal" data-target="#janelaNovaSenha" onclick="mudarSenha()" id="mudarSenha">Mudar senha</a>
          </div>
          <div class="col-md-2 offset-md-4">
            <a href="#" class="btn btn-dark custom" role="button" data-toggle="modal" data-target="#janelaViradaDeAno" onclick="viradaDeAno()">Virada de ano</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 ">
            <a href="#" class="btn btn-dark custom" role="button" data-toggle="modal" data-target="#janelaCriarEvento" onclick="criarEvento()">Criar Evento</a>
          </div>
          <div class="col-md-4 offset-md-4">
            <a href="#" class="btn btn-dark custom" role="button" data-toggle="modal" data-target="#janelaExcluirEvento" onclick="excluirEvento()">Excluir Evento</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 ">
            <a href="#" class="btn btn-dark custom" role="button" data-toggle="modal" data-target="#janelaCriarFerias" onclick="criarFerias()">Criar Férias</a>
          </div>
          <div class="col-md-4 offset-md-4">
            <a href="#" class="btn btn-dark custom" role="button" data-toggle="modal" data-target="#janelaExcluirFerias" onclick="excluirFerias()">Excluir Férias</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 ">
            <a href="#" class="btn btn-dark custom" role="button" data-toggle="modal" data-target="#janelaCriarAtividades" onclick="criarAtividades()">Criar Atividades</a>
          </div>
          <div class="col-md-4 offset-md-4">
            <a href="#" class="btn btn-dark custom" role="button" data-toggle="modal" data-target="#janelaExcluirAtividades" onclick="excluirAtividades()">Excluir Atividades</a>
          </div>
        </div>
        
      
    </div>
    
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
    if ({{ semSenha | tojson }}){
      
      document.getElementById("mudarSenha").click();
      alert("Algum erro ocorreu! Operação não concluida!");
    }
    if ({{ anoOcupado | tojson }}){
      let msg = "Alerta!\n";
      const lista = {{ anoOcupado | tojson }};
      if (lista[0]){
        msg += "Já há eventos para o ano selecionado, nenhum Evento copiado!\n";
      }
      if (lista[1]){
        msg += "Já há atividades para o ano selecionado, nenhuma Atividade copiada!\n";
      }
      if (lista[2]){
        msg += "Já há ferias para o ano selecionado, nenhuma Ferias copiada!\n";
      }
      if (lista[3]){
        msg += "Já há letivos para o ano selecionado, nenhum Letivo copiado!\n";
      }
      alert(msg);
    }
    
    function divC(encapsule){
      const localDiv = document.createElement("div");
      localDiv.setAttribute("class", "c");
      localDiv.appendChild(encapsule);
      return localDiv;
    }
    function divGenerico(classe){
      const localDivG = document.createElement("div");
      localDivG.setAttribute("Class", classe);
      return localDivG;
    }
    function inputMaker(tipo, idd, nome){
      const novoInput = document.createElement("input");
      novoInput.setAttribute("type", tipo);
      novoInput.setAttribute("required", "true");
      novoInput.setAttribute("id",idd);
      novoInput.setAttribute("name", nome);
      return novoInput;
    }
    function selectGenerico(nome, idd){
      const dropDown = document.createElement("select");
      dropDown.setAttribute("name",nome);
      dropDown.setAttribute("id", idd);
      return dropDown;
    }
    function diaMaker(){
      const arrayDias = {{ dias | tojson }};
      const arrayOptions = new Array(arrayDias.length);
      const dropDown = selectGenerico("dia", "dia");
      for (let i = 0; i<arrayDias.length; i++){
        arrayOptions[i] = document.createElement("option");
        arrayOptions[i].setAttribute("value", arrayDias[i]);
        let txt = document.createTextNode(arrayDias[i]);
        arrayOptions[i].appendChild(txt);
        dropDown.appendChild(arrayOptions[i]);
      }
      return dropDown;
    }

    function mesMaker(){
      const calendario = {{ meses | tojson }};
      console.log(Object.keys(calendario));
    }
    
    
    function generico(nome, titulo, botoes){
      const elem1 = document.createElement("div");
      elem1.setAttribute("class", "modal fade");
      elem1.setAttribute("id", nome);
      elem1.setAttribute("tabindex", "-1");
      elem1.setAttribute('role', 'dialog');
      elem1.setAttribute("aria-labelledby", "janelaNovaSenhaTitle");
      elem1.setAttribute("aria-hidden","true");
      const elem2 = document.createElement("div");
      elem2.setAttribute("class","modal-dialog modal-dialog-centered");
      elem2.setAttribute("role","document");
      
      const elem3 = document.createElement("div");
      elem3.setAttribute("class","modal-content");
      const elem4 = document.createElement("div");
      elem4.setAttribute("class","modal-header");
      const elem5 = document.createElement("h5");
      elem5.setAttribute("class","modal-title");
      elem5.setAttribute("id","janelaNovaSenhaTitle");
      const elem5Title = document.createTextNode(titulo);
      const close = document.createElement("button");
      close.setAttribute("type","button");
      close.setAttribute("class","close");
      close.setAttribute("data-dismiss","modal");
      close.setAttribute("aria-label","Close");
      const spana = document.createElement("span");
      spana.setAttribute("aria-hidden","true");
      const times = document.createTextNode("X");
      spana.appendChild(times);
      close.appendChild(spana);
      const form = document.createElement("form");
      form.setAttribute("class","form-inline");
      form.setAttribute("method","POST");
      const form2 = document.createElement("div");
      form2.setAttribute("class","modal-body");
      
      const footer = document.createElement("div");
      footer.setAttribute("class","modal-footer");
      const footer2 = document.createElement("button");
      footer2.setAttribute("class","btn btn-secondary");
      footer2.setAttribute("type","button");
      footer2.setAttribute("data-dismiss","modal");
      const footer2Close = document.createTextNode("Close");
      const footer2Save = document.createElement("input");
      footer2Save.setAttribute("class","btn btn-primary");
      footer2Save.setAttribute("type","submit");
      footer2Save.setAttribute("value", "Salvar")
      
      footer.appendChild(footer2Save);
      footer2.appendChild(footer2Close);
      footer.appendChild(footer2);
      
      for (inputers of botoes){
        form2.appendChild(inputers);
      }
      
            
      
      elem5.appendChild(elem5Title);
      elem4.appendChild(elem5);
      elem4.appendChild(close);
      
      elem3.appendChild(elem4);
      elem3.appendChild(form2);
      elem3.appendChild(footer);
      form.appendChild(elem3);
      elem2.appendChild(form);
      elem1.appendChild(elem2);
      document.body.appendChild(elem1);
      
    }
    function middleDiv(nomeBotao){
      const divs = divGenerico("b")
      const dropDown = document.createElement("select");
      dropDown.setAttribute("name","campusId");
      dropDown.setAttribute("id", "campusNome0");
      const arrayCampus = {{ campus | tojson }};
      const arrayOptions = new Array(arrayCampus.length);
      
      for (let i = 0; i<arrayCampus.length; i++){
        arrayOptions[i] = document.createElement("option");
        arrayOptions[i].setAttribute("value", arrayCampus[i]);
        let txt = document.createTextNode(arrayCampus[i]);
        arrayOptions[i].appendChild(txt);
        dropDown.appendChild(arrayOptions[i]);
      }
      const lbl = document.createElement("label");
      lbl.setAttribute("for", "campusId");
      const txtAviso = document.createTextNode("Selecione o Campus");
      lbl.appendChild(txtAviso);
      const divisorMeio = document.createElement("div");
      divisorMeio.setAttribute("class", "form-group");
      const spanner = document.createElement("span");
      spanner.setAttribute("style", "white-space: nowrap");
      const nomeDoBotao = document.createElement("input");
      nomeDoBotao.setAttribute("type", "hidden");
      nomeDoBotao.setAttribute("name", "nomeDoBotao");
      nomeDoBotao.setAttribute("value", nomeBotao);
      lbl.appendChild(nomeDoBotao);
      spanner.appendChild(lbl);
      spanner.appendChild(dropDown);
      divisorMeio.appendChild(spanner);
      divs.appendChild(divisorMeio);
      return divs;
    }
    
    function mudarSenha(){
      const mod = middleDiv("mudarSenha");
      const novaSenha = inputMaker("text", "novaSenha", "novaSenha");
      
      const txtCmp = document.createTextNode("Digite a nova senha");
      
      mod.appendChild(divGenerico("d"));
      mod.appendChild(divC(txtCmp));
      mod.appendChild(divC(novaSenha));

      generico("janelaNovaSenha", "Mudar Senha",[mod]);
    }
    function viradaDeAno(){
      const mod1 = divGenerico("b");
      const input1 = document.createElement("select");
      input1.setAttribute("name","viradaDeAno");
      input1.setAttribute("id","viradaDeAno");
      const atrTxt = document.createTextNode("Selecione a opção");
      input1.appendChild(atrTxt);
      const inputv1 = document.createElement("option");
      const atrTxt1 = document.createTextNode("Ano atual para ano que vem");
      inputv1.setAttribute("value", "proximoAno");
      inputv1.appendChild(atrTxt1);
      input1.appendChild(inputv1);
      const inputv2 = document.createElement("option");
      const atrTxt2 = document.createTextNode("Ano passado para ano atual");
      inputv2.setAttribute("value", "atualAno");
      inputv2.appendChild(atrTxt2);
      input1.appendChild(inputv2);
      mod1.appendChild(input1);
      generico("janelaViradaDeAno", "Virada de Ano",[mod1]);
    }
    
    function criarEvento(){
      const mod2 = middleDiv("criarEvento");
      const txtCmp = document.createTextNode("Selecione 'adm' para gerar para todos os Campus");
      mod2.appendChild(txtCmp);
      mod2.appendChild(divGenerico("e"));
      mod2.appendChild(document.createTextNode("Selecione o dia:"));
      mod2.appendChild(diaMaker());
      const txtEvento = document.createTextNode("Escreva um comentario");
      mod2.appendChild(divC(txtEvento));
      mod2.appendChild(divC(inputMaker("text", "novoComentario", "novoComentario")));
      mesMaker();
      generico("janelaCriarEvento", "Criar Evento",[mod2]);
    }
    function excluirEvento(){
      const input1 = document.createElement("input");
      input1.setAttribute("type","submit");
      input1.setAttribute("name","feriados");
      input1.setAttribute("value","Excluir Evento");
      input1.setAttribute("class","btn btn-warning");
      const input2 = document.createElement("input");
      input2.setAttribute("value","zero");
      input2.setAttribute("type","text");
      input2.setAttribute("name","a0");
      input2.setAttribute("required","True");
      generico("janelaExcluirEvento", "Excluir Eventos",[input1, input2]);
    }
    function criarFerias(){
      const input1 = document.createElement("input");
      input1.setAttribute("type","submit");
      input1.setAttribute("name","feriados");
      input1.setAttribute("value","Criar Ferias");
      input1.setAttribute("class","btn btn-warning");
      const input2 = document.createElement("input");
      input2.setAttribute("value","zero");
      input2.setAttribute("type","text");
      input2.setAttribute("name","a0");
      input2.setAttribute("required","True");
      generico("janelaCriarFerias", "Criar Férias",[input1, input2]);
    }
    function excluirFerias(){
      const input1 = document.createElement("input");
      input1.setAttribute("type","submit");
      input1.setAttribute("name","feriados");
      input1.setAttribute("value","Excluir Ferias");
      input1.setAttribute("class","btn btn-warning");
      const input2 = document.createElement("input");
      input2.setAttribute("value","zero");
      input2.setAttribute("type","text");
      input2.setAttribute("name","a0");
      input2.setAttribute("required","True");
      generico("janelaExcluirFerias", "Excluir Férias",[input1, input2]);
    }
    function criarAtividades(){
      const input1 = document.createElement("input");
      input1.setAttribute("type","submit");
      input1.setAttribute("name","feriados");
      input1.setAttribute("value","Criar Atividades");
      input1.setAttribute("class","btn btn-warning");
      const input2 = document.createElement("input");
      input2.setAttribute("value","zero");
      input2.setAttribute("type","text");
      input2.setAttribute("name","a0");
      input2.setAttribute("required","True");
      generico("janelaCriarAtividades", "Criar Atividades",[input1, input2]);
    }
    function excluirAtividades(){
      const input1 = document.createElement("input");
      input1.setAttribute("type","submit");
      input1.setAttribute("name","feriados");
      input1.setAttribute("value","Excluir Atividades");
      input1.setAttribute("class","btn btn-warning");
      const input2 = document.createElement("input");
      input2.setAttribute("value","zero");
      input2.setAttribute("type","text");
      input2.setAttribute("name","a0");
      input2.setAttribute("required","True");
      generico("janelaExcluirAtividades", "Excluir Atividades",[input1, input2]);
    }

  </script>
  </body>
</html>