
					{% extends "valores.html" %}
					{% block content %}
						<tr id='addr0' data-id="0" class="hidden" align="center">
		                                  
		                                <td data-name="name">
		                                    <select name="name0">
		                                        <option value="">Mês</option>
		                                        {% for mes in data %}
		                                            <option value= "{{ mes }}">{{ data[mes] }}</option>
		                                        {% endfor %}
		                                    </select>
		                                </td>
		                                <td data-name="dia">
		                                    <select name="dia0">
		                                        <option value="">Dia</option>
		                                        {% for dia in dias %}
		                                            <option value= "{{ dia }}">{{ dia }}</option>
		                                        {% endfor %}
		                                    </select>
		                                </td>
		                                <td data-name="desc">
		                                    <textarea name="desc0" placeholder="Descrição" class="form-control" cols="25" maxlength="800"></textarea>
		                                </td>                     
		                                <td data-name="del">
		                                    <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'><span aria-hidden="true">&times;</span></button>
		                                </td>

	                    </tr>
						<tr id='addr1' data-id="1" class="hidden" align="center">

							<td data-name="name">
								<select name="name1">
								<option value="3" selected>Março</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia1">
								<option value="9" selected>9</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc1" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Início do 1º semestre letivo de 2020</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del1">
							</td>
						</tr>
						<tr id='addr2' data-id="2" class="hidden" align="center">

							<td data-name="name">
								<select name="name2">
								<option value="5" selected>Maio</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia2">
								<option value="9" selected>9</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc2" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Data limite para lançamento da 1ª Nota Bimestral no Sistema Acadêmico
</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del2">
							</td>
						</tr>
						<tr id='addr3' data-id="3" class="hidden" align="center">

							<td data-name="name">
								<select name="name3">
								<option value="6" selected>Junho</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia3">
								<option value="1" selected>1</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc3" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Início do período para inscrição do Teste de Nivelamento
</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del3">
							</td>
						</tr>
						<tr id='addr4' data-id="4" class="hidden" align="center">

							<td data-name="name">
								<select name="name4">
								<option value="6" selected>Junho</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia4">
								<option value="10" selected>10</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc4" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Término do período para inscrição do Teste de Nivelamento</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del4">
							</td>
						</tr>
						<tr id='addr5' data-id="5" class="hidden" align="center">

							<td data-name="name">
								<select name="name5">
								<option value="6" selected>Junho</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia5">
								<option value="20" selected>20</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc5" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Teste de Nivelamento
</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del5">
							</td>
						</tr>
						<tr id='addr6' data-id="6" class="hidden" align="center">

							<td data-name="name">
								<select name="name6">
								<option value="7" selected>Julho</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia6">
								<option value="14" selected>14</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc6" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Término do 1º semestre letivo de 2020
</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del6">
							</td>
						</tr>
						<tr id='addr7' data-id="7" class="hidden" align="center">

							<td data-name="name">
								<select name="name7">
								<option value="7" selected>Julho</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia7">
								<option value="16" selected>16</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc7" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Data limite para publicação das notas e lançamento no Sistema Acadêmico
</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del7">
							</td>
						</tr>
						<tr id='addr8' data-id="8" class="hidden" align="center">

							<td data-name="name">
								<select name="name8">
								<option value="8" selected>Agosto</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia8">
								<option value="17" selected>17</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc8" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Início do 2º semestre letivo de 2020</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del8">
							</td>
						</tr>
						<tr id='addr9' data-id="9" class="hidden" align="center">

							<td data-name="name">
								<select name="name9">
								<option value="10" selected>Outubro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia9">
								<option value="17" selected>17</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc9" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Data limite para lançamento da 1ª Nota Bimestral no Sistema Acadêmico</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del9">
							</td>
						</tr>
						<tr id='addr10' data-id="10" class="hidden" align="center">

							<td data-name="name">
								<select name="name10">
								<option value="11" selected>Novembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia10">
								<option value="3" selected>3</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc10" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Início do período para inscrição do Teste de Nivelamento</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del10">
							</td>
						</tr>
						<tr id='addr11' data-id="11" class="hidden" align="center">

							<td data-name="name">
								<select name="name11">
								<option value="11" selected>Novembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia11">
								<option value="11" selected>11</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc11" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Término do período para inscrição do Teste de Nivelamento</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del11">
							</td>
						</tr>
						<tr id='addr12' data-id="12" class="hidden" align="center">

							<td data-name="name">
								<select name="name12">
								<option value="11" selected>Novembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia12">
								<option value="20" selected>20</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc12" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Teste de Nivelamento</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del12">
							</td>
						</tr>
						<tr id='addr13' data-id="13" class="hidden" align="center">

							<td data-name="name">
								<select name="name13">
								<option value="12" selected>Dezembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia13">
								<option value="17" selected>17</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc13" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Término do 2º semestre letivo de 2020</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del13">
							</td>
						</tr>
						<tr id='addr14' data-id="14" class="hidden" align="center">

							<td data-name="name">
								<select name="name14">
								<option value="12" selected>Dezembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="dia">
								<select name="dia14">
								<option value="21" selected>21</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc14" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Data limite para o lançamento de notas no Sistema Acadêmico, publicação dos resultados finais e fechamento dos diários de classe
</textarea>
							</td>                     
							<td data-name="del">
								<input type="submit" class="btn btn-danger" value="x" name="del14">
							</td>
						</tr>{% endblock %}