
					{% extends "valores.html" %}
					{% block content %}
						<tr id='addr0' data-id="0" class="hidden" align="center">
		                                  
		                                <td data-name="name">
		                                    <select name="name0">
		                                        <option value="">Mês</option>
		                                        {% for mes in data %}
		                                            <option value= "{{ mes }}">{{ data[mes] }}</option>
		                                        {% endfor %}
		                                    </select>
		                                </td>
		                                <td data-name="dia">
		                                    <select name="dia0">
		                                        <option value="">Dia</option>
		                                        {% for dia in dias %}
		                                            <option value= "{{ dia }}">{{ dia }}</option>
		                                        {% endfor %}
		                                    </select>
		                                </td>
		                                <td data-name="desc">
		                                    <textarea name="desc0" placeholder="Descrição" class="form-control" cols="25" maxlength="800"></textarea>
		                                </td>                     
		                                <td data-name="del">
		                                    <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'><span aria-hidden="true">&times;</span></button>
		                                </td>

	                    </tr>{% endblock %}