
					{% extends "atividades_academicas.html" %}
					{% block content %}
						<tr id='addr0' data-id="0" class="hidden" align="center">
		                                  
		                                <td data-name="name">
		                                    <select name="name0">
		                                        <option value="">Mês</option>
		                                        {% for mes in data %}
		                                            <option value= "{{ mes }}">{{ data[mes] }}</option>
		                                        {% endfor %}
		                                    </select>
		                                </td>
		                                <td data-name="diaini">
							<select name="diaini0">
								<option value="">Dia Inicial</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
							</select>
						</td>
						<td data-name="diafin">
							<select name="diafin0">
								<option value="">Dia Final</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
							</select>
						</td>
		                                <td data-name="desc">
		                                    <textarea name="desc0" placeholder="Descrição" class="form-control" cols="25" maxlength="800"></textarea>
		                                </td>                     
		                                <td data-name="del">
		                                    <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'><span aria-hidden="true">&times;</span></button>
		                                </td>

	                    </tr>
						<tr id='addr1' data-id="1" class="hidden" align="center">

							<td data-name="name">
								<select name="name1">
								<option value="5" selected>Maio</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini1">
									<option value="4" selected>4</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin1">
									<option value="4" selected>4</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc1" placeholder="Descrição" class="form-control" cols="25" maxlength="800">ex2</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del1">
							
							</td>
						</tr>
						<tr id='addr2' data-id="2" class="hidden" align="center">

							<td data-name="name">
								<select name="name2">
								<option value="5" selected>Maio</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini2">
									<option value="8" selected>8</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin2">
									<option value="8" selected>8</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc2" placeholder="Descrição" class="form-control" cols="25" maxlength="800">exemplo</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del2">
							
							</td>
						</tr>
						<tr id='addr3' data-id="3" class="hidden" align="center">

							<td data-name="name">
								<select name="name3">
								<option value="6" selected>Junho</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini3">
									<option value="3" selected>3</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin3">
									<option value="11" selected>11</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc3" placeholder="Descrição" class="form-control" cols="25" maxlength="800">exemplo 2</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del3">
							
							</td>
						</tr>{% endblock %}