
					{% extends "atividades_academicas.html" %}
					{% block content %}
						<tr id='addr0' data-id="0" class="hidden" align="center">
		                                  
		                                <td data-name="name">
		                                    <select name="name0">
		                                        <option value="">Mês</option>
		                                        {% for mes in data %}
		                                            <option value= "{{ mes }}">{{ data[mes] }}</option>
		                                        {% endfor %}
		                                    </select>
		                                </td>
		                                <td data-name="diaini">
							<select name="diaini0">
								<option value="">Dia Inicial</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
							</select>
						</td>
						<td data-name="diafin">
							<select name="diafin0">
								<option value="">Dia Final</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
							</select>
						</td>
		                                <td data-name="desc">
		                                    <textarea name="desc0" placeholder="Descrição" class="form-control" cols="25" maxlength="800"></textarea>
		                                </td>                     
		                                <td data-name="del">
		                                    <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'><span aria-hidden="true">&times;</span></button>
		                                </td>

	                    </tr>
						<tr id='addr1' data-id="1" class="hidden" align="center">

							<td data-name="name">
								<select name="name1">
								<option value="4" selected>Abril</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini1">
								<select name="diaini1">
									<option value="7" selected>7</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin1">
								<select name="diafin1">
									<option value="7" selected>7</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc1" placeholder="Descrição" class="form-control" cols="25" maxlength="800">exemplo</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del1">
							
							</td>
						</tr>
						<tr id='addr2' data-id="2" class="hidden" align="center">

							<td data-name="name">
								<select name="name2">
								<option value="5" selected>Maio</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini2">
								<select name="diaini2">
									<option value="5" selected>5</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin2">
								<select name="diafin2">
									<option value="5" selected>5</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc2" placeholder="Descrição" class="form-control" cols="25" maxlength="800">ativ</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del2">
							
							</td>
						</tr>
						<tr id='addr3' data-id="3" class="hidden" align="center">

							<td data-name="name">
								<select name="name3">
								<option value="7" selected>Julho</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini3">
								<select name="diaini3">
									<option value="1" selected>1</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin3">
								<select name="diafin3">
									<option value="1" selected>1</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc3" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Atividade de exemplo</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del3">
							
							</td>
						</tr>
						<tr id='addr4' data-id="4" class="hidden" align="center">

							<td data-name="name">
								<select name="name4">
								<option value="7" selected>Julho</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini4">
								<select name="diaini4">
									<option value="6" selected>6</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin4">
								<select name="diafin4">
									<option value="6" selected>6</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc4" placeholder="Descrição" class="form-control" cols="25" maxlength="800">ariv</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del4">
							
							</td>
						</tr>
						<tr id='addr5' data-id="5" class="hidden" align="center">

							<td data-name="name">
								<select name="name5">
								<option value="8" selected>Agosto</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini5">
								<select name="diaini5">
									<option value="7" selected>7</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin5">
								<select name="diafin5">
									<option value="7" selected>7</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc5" placeholder="Descrição" class="form-control" cols="25" maxlength="800">ex</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del5">
							
							</td>
						</tr>
						<tr id='addr6' data-id="6" class="hidden" align="center">

							<td data-name="name">
								<select name="name6">
								<option value="10" selected>Outubro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini6">
								<select name="diaini6">
									<option value="8" selected>8</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin6">
								<select name="diafin6">
									<option value="8" selected>8</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc6" placeholder="Descrição" class="form-control" cols="25" maxlength="800">ex2</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del6">
							
							</td>
						</tr>{% endblock %}