
					{% extends "atividades_academicas.html" %}
					{% block content %}
						<tr id='addr0' data-id="0" class="hidden" align="center">
		                                  
		                                <td data-name="name">
		                                    <select name="name0">
		                                        <option value="">Mês</option>
		                                        {% for mes in data %}
		                                            <option value= "{{ mes }}">{{ data[mes] }}</option>
		                                        {% endfor %}
		                                    </select>
		                                </td>
		                                <td data-name="diaini">
							<select name="diaini0">
								<option value="">Dia Inicial</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
							</select>
						</td>
						<td data-name="diafin">
							<select name="diafin0">
								<option value="">Dia Final</option>
								{% for dia in dias %}
									<option value= "{{ dia }}">{{ dia }}</option>
								{% endfor %}
							</select>
						</td>
		                                <td data-name="desc">
		                                    <textarea name="desc0" placeholder="Descrição" class="form-control" cols="25" maxlength="800"></textarea>
		                                </td>                     
		                                <td data-name="del">
		                                    <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'><span aria-hidden="true">&times;</span></button>
		                                </td>

	                    </tr>
						<tr id='addr1' data-id="1" class="hidden" align="center">

							<td data-name="name">
								<select name="name1">
								<option value="2" selected>Fevereiro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini1">
									<option value="1" selected>1</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin1">
									<option value="22" selected>22</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="des">
								<input type="hidden" name="des1" value="Planejamento/Capacitação" id="des1">
								Planejamento/Capacitação
							</td>
							                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del1">
							
							</td>
						</tr>
						<tr id='addr2' data-id="2" class="hidden" align="center">

							<td data-name="name">
								<select name="name2">
								<option value="2" selected>Fevereiro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini2">
									<option value="19" selected>19</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin2">
									<option value="19" selected>19</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc2" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Formatura - Colação de Grau 2019/2</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del2">
							
							</td>
						</tr>
						<tr id='addr3' data-id="3" class="hidden" align="center">

							<td data-name="name">
								<select name="name3">
								<option value="3" selected>Março</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini3">
									<option value="4" selected>4</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin3">
									<option value="4" selected>4</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc3" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Cine ao ar-livre</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del3">
							
							</td>
						</tr>
						<tr id='addr4' data-id="4" class="hidden" align="center">

							<td data-name="name">
								<select name="name4">
								<option value="4" selected>Abril</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini4">
									<option value="4" selected>4</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin4">
									<option value="4" selected>4</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc4" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Jogos Intercursos - Corrida, xadrez e tênis de mesa</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del4">
							
							</td>
						</tr>
						<tr id='addr5' data-id="5" class="hidden" align="center">

							<td data-name="name">
								<select name="name5">
								<option value="4" selected>Abril</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini5">
									<option value="25" selected>25</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin5">
									<option value="25" selected>25</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc5" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Jogos Intercursos - Futsal</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del5">
							
							</td>
						</tr>
						<tr id='addr6' data-id="6" class="hidden" align="center">

							<td data-name="name">
								<select name="name6">
								<option value="5" selected>Maio</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini6">
									<option value="4" selected>4</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin6">
									<option value="9" selected>9</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="des">
								<input type="hidden" name="des6" value="Planejamento/Capacitação" id="des6">
								Planejamento/Capacitação
							</td>
							                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del6">
							
							</td>
						</tr>
						<tr id='addr7' data-id="7" class="hidden" align="center">

							<td data-name="name">
								<select name="name7">
								<option value="5" selected>Maio</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini7">
									<option value="14" selected>14</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin7">
									<option value="14" selected>14</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc7" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Robot Arena</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del7">
							
							</td>
						</tr>
						<tr id='addr8' data-id="8" class="hidden" align="center">

							<td data-name="name">
								<select name="name8">
								<option value="5" selected>Maio</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini8">
									<option value="16" selected>16</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin8">
									<option value="16" selected>16</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc8" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Jogos Intercursos - Basquete</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del8">
							
							</td>
						</tr>
						<tr id='addr9' data-id="9" class="hidden" align="center">

							<td data-name="name">
								<select name="name9">
								<option value="5" selected>Maio</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini9">
									<option value="20" selected>20</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin9">
									<option value="22" selected>22</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc9" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Semana do Meio Ambiente</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del9">
							
							</td>
						</tr>
						<tr id='addr10' data-id="10" class="hidden" align="center">

							<td data-name="name">
								<select name="name10">
								<option value="5" selected>Maio</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini10">
									<option value="23" selected>23</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin10">
									<option value="23" selected>23</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc10" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Jogos Intercursos - Volei</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del10">
							
							</td>
						</tr>
						<tr id='addr11' data-id="11" class="hidden" align="center">

							<td data-name="name">
								<select name="name11">
								<option value="5" selected>Maio</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini11">
									<option value="27" selected>27</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin11">
									<option value="27" selected>27</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc11" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Show de Talentos</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del11">
							
							</td>
						</tr>
						<tr id='addr12' data-id="12" class="hidden" align="center">

							<td data-name="name">
								<select name="name12">
								<option value="6" selected>Junho</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini12">
									<option value="1" selected>1</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin12">
									<option value="5" selected>5</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc12" placeholder="Descrição" class="form-control" cols="25" maxlength="800">SEMAT - Semana Acadêmica do Curso de Licenciatura em Matemática</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del12">
							
							</td>
						</tr>
						<tr id='addr13' data-id="13" class="hidden" align="center">

							<td data-name="name">
								<select name="name13">
								<option value="6" selected>Junho</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini13">
									<option value="20" selected>20</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin13">
									<option value="20" selected>20</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc13" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Festa Junina</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del13">
							
							</td>
						</tr>
						<tr id='addr14' data-id="14" class="hidden" align="center">

							<td data-name="name">
								<select name="name14">
								<option value="8" selected>Agosto</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini14">
									<option value="1" selected>1</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin14">
									<option value="8" selected>8</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="des">
								<input type="hidden" name="des14" value="Planejamento/Capacitação" id="des14">
								Planejamento/Capacitação
							</td>
							                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del14">
							
							</td>
						</tr>
						<tr id='addr15' data-id="15" class="hidden" align="center">

							<td data-name="name">
								<select name="name15">
								<option value="8" selected>Agosto</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini15">
									<option value="5" selected>5</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin15">
									<option value="5" selected>5</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc15" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Formatura - Colação de Grau 2020/1</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del15">
							
							</td>
						</tr>
						<tr id='addr16' data-id="16" class="hidden" align="center">

							<td data-name="name">
								<select name="name16">
								<option value="8" selected>Agosto</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini16">
									<option value="18" selected>18</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin16">
									<option value="18" selected>18</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc16" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Cine ao ar-livre</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del16">
							
							</td>
						</tr>
						<tr id='addr17' data-id="17" class="hidden" align="center">

							<td data-name="name">
								<select name="name17">
								<option value="9" selected>Setembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini17">
									<option value="7" selected>7</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin17">
									<option value="7" selected>7</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc17" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Desfile Dia da Independência</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del17">
							
							</td>
						</tr>
						<tr id='addr18' data-id="18" class="hidden" align="center">

							<td data-name="name">
								<select name="name18">
								<option value="9" selected>Setembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini18">
									<option value="14" selected>14</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin18">
									<option value="16" selected>16</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc18" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Semana Acadêmica do Curso de Engenharia Civil</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del18">
							
							</td>
						</tr>
						<tr id='addr19' data-id="19" class="hidden" align="center">

							<td data-name="name">
								<select name="name19">
								<option value="9" selected>Setembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini19">
									<option value="15" selected>15</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin19">
									<option value="18" selected>18</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc19" placeholder="Descrição" class="form-control" cols="25" maxlength="800">SAET - Semana Acadêmica de Engenharia e Tecnologia</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del19">
							
							</td>
						</tr>
						<tr id='addr20' data-id="20" class="hidden" align="center">

							<td data-name="name">
								<select name="name20">
								<option value="9" selected>Setembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini20">
									<option value="19" selected>19</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin20">
									<option value="19" selected>19</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc20" placeholder="Descrição" class="form-control" cols="25" maxlength="800">UTFGo</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del20">
							
							</td>
						</tr>
						<tr id='addr21' data-id="21" class="hidden" align="center">

							<td data-name="name">
								<select name="name21">
								<option value="9" selected>Setembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini21">
									<option value="22" selected>22</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin21">
									<option value="25" selected>25</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc21" placeholder="Descrição" class="form-control" cols="25" maxlength="800">ENCITEC - Encontro de Ciências e Tecnologias Químicas</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del21">
							
							</td>
						</tr>
						<tr id='addr22' data-id="22" class="hidden" align="center">

							<td data-name="name">
								<select name="name22">
								<option value="9" selected>Setembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini22">
									<option value="23" selected>23</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin22">
									<option value="25" selected>25</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc22" placeholder="Descrição" class="form-control" cols="25" maxlength="800">Semana Acadêmica do Curso de Engenharia de Bioprocessos e Biotecnologia</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del22">
							
							</td>
						</tr>
						<tr id='addr23' data-id="23" class="hidden" align="center">

							<td data-name="name">
								<select name="name23">
								<option value="10" selected>Outubro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini23">
									<option value="13" selected>13</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin23">
									<option value="17" selected>17</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="des">
								<input type="hidden" name="des23" value="Planejamento/Capacitação" id="des23">
								Planejamento/Capacitação
							</td>
							                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del23">
							
							</td>
						</tr>
						<tr id='addr24' data-id="24" class="hidden" align="center">

							<td data-name="name">
								<select name="name24">
								<option value="10" selected>Outubro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini24">
									<option value="21" selected>21</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin24">
									<option value="23" selected>23</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc24" placeholder="Descrição" class="form-control" cols="25" maxlength="800">SEI/SICITE</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del24">
							
							</td>
						</tr>
						<tr id='addr25' data-id="25" class="hidden" align="center">

							<td data-name="name">
								<select name="name25">
								<option value="11" selected>Novembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini25">
									<option value="11" selected>11</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin25">
									<option value="13" selected>13</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="desc">
								<textarea name="desc25" placeholder="Descrição" class="form-control" cols="25" maxlength="800">II Semana da Sustentabilidade</textarea>
							</td>	                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del25">
							
							</td>
						</tr>
						<tr id='addr26' data-id="26" class="hidden" align="center">

							<td data-name="name">
								<select name="name26">
								<option value="12" selected>Dezembro</option>
								{% for mes in data %}
									<option value= "{{ mes }}">{{ data[mes] }}</option>
								{% endfor %}
								</select>
							</td>
							<td data-name="diaini">
								<select name="diaini26">
									<option value="14" selected>14</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="diafin">
								<select name="diafin26">
									<option value="14" selected>14</option>
									{% for dia in dias %}
										<option value= "{{ dia }}">{{ dia }}</option>
									{% endfor %}
								</select>
							</td>
							<td data-name="des">
								<input type="hidden" name="des26" value="Aniversário de Toledo" id="des26">
								Aniversário de Toledo
							</td>
							                     
							<td data-name="del">
							
								<input type="submit" class="btn btn-danger" value="x" name="del26">
							
							</td>
						</tr>{% endblock %}